<div class="event-container">

  <div class="content">
<h3>Publier un événement</h3>

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  <form (submit)="submit()">

    <div class="form-group mb-3">
      <label>Titre</label>
      <input type="text" [(ngModel)]="newEvent.title" name="title" placeholder="Titre" class="form-control" required />
    </div>

    <div class="form-group mb-3">
      <label>Description</label>
      <textarea [(ngModel)]="newEvent.description" name="description" placeholder="Description" class="form-control" required></textarea>
    </div>

    <div class="form-group mb-3">
      <label>Lieu</label>
      <input type="text" [(ngModel)]="newEvent.localisation" name="localisation" placeholder="Lieu" class="form-control" required />
    </div>

    <div class="form-row mb-3">
      <div class="form-col">
        <label>Date & heure de début</label>
        <input type="datetime-local" [(ngModel)]="newEvent.startDate" name="startDate" class="form-control" required />
      </div>
      <div class="form-col">
        <label>Date & heure de fin</label>
        <input type="datetime-local" [(ngModel)]="newEvent.endDate" name="endDate" class="form-control" required />
      </div>
    </div>

    <div class="form-group mb-3">
      <label>Capacité</label>
      <input type="number" [(ngModel)]="newEvent.capacity" name="capacity" placeholder="Nombre max participants" class="form-control" required min="1" />
    </div>

    <div class="form-group mb-3">
      <label>Image</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loading">Publier</button>

  </form>
  </div>

</div>
