/* Page background (ne recouvre pas la vidéo car hero est au-dessus) */
.page-container {

  background-color: var(--blue-900);
  min-height: 100vh;
  color: #f5f5f5;
   width: 100%;
}



.hero {
  position: relative;
  height: 95vh;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
  background: transparent;
}

/* Video réduite + centrée */
.video-bg {
  position: relative; /* plus absolute */
  width: 90%;         /* réduit la largeur */
  height: 80%;       /* garde les proportions */
  max-height: 100%;   /* limite la hauteur */
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px; /* optionnel : arrondir les bords */
}

/* Texte au-dessus */
.hero-text {
  position: absolute;
  z-index: 2;
}

.hero-text h1 {
  font-size: 48px;
  color: var(--yellow-400);
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

.cta-btn {
  background-color:var(--yellow-400);
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.05);
  background-color: var(--yellow-400);;
}









/* ----------- FEATURES SECTION ----------- */
.features-title {
 width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffc107;
  margin-bottom: 5px;
  margin-top: 30px;
  letter-spacing: 1px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 80px;
}
.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 100px 20px 40px;
  margin-top: 10px;
  text-align: center;
}

.feature-card {
  background: #848485;
  padding: 25px 20px;
  width: 260px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #333;
}

.feature-card:hover {
  transform: translateY(-10px);

  border:3px solid #ffc107;
}

.feature-card h3 {
  color: #ffc107;
  margin-top: 15px;
  font-size: 19px;
  font-weight:650;
}

.feature-card p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

