<div class="page-container">

  <section class="hero">
    <video autoplay muted loop playsinline class="video-bg">
      <source src="homepage.mp4" type="video/mp4">
    </video>

    <div class="hero-text">
      <h1>Bienvenue dans la Vie Étudiante</h1>
      <p>Découvrez les clubs, événements, logements et bien plus encore.</p>
      <button class="cta-btn" routerLink="/home/login">Join Us</button>
    </div>
  </section>

  <!-- FEATURES SECTION (AU-DESSUS DE LA VIDÉO) -->
  <div id="bloc" class="section">

    <h1 class="features-title">Explorer nos services</h1>
    <div class="features">
    <div class="feature-card" (click)="login()">
<lord-icon
    src="https://cdn.lordicon.com/viyuourh.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:110px;height:110px">
</lord-icon>
      <h3>Clubs universitaires</h3>
      <p>Rejoignez les clubs et participez à la vie du iset</p>
    </div>

    <div class="feature-card" (click)="login()">
     <lord-icon
    src="https://cdn.lordicon.com/eraoievd.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:110px;height:110px">
</lord-icon>
      <h3>Événements</h3>
      <p>Découvrez les événements organisés par les clubs</p>
    </div>

    <div class="feature-card" (click)="login()">
      <lord-icon
    src="https://cdn.lordicon.com/rpvomrgr.json"
    trigger="hover"
     stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:110px;height:110px">
</lord-icon>
      <h3>Logements</h3>
      <p>Trouvez ou proposez des logements étudiants</p>
    </div>
    <div class="feature-card" (click)="login()">
     <lord-icon
    src="https://cdn.lordicon.com/wyaqzesp.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:110px;height:110px">
</lord-icon>
      <h3>Dons</h3>
      <p>Faites un don pour aider les étudiants du campus et de leurs clubs</p>
    </div>
</div>
    <!-- Tu peux ajouter ici d’autres blocs -->
  </div>




</div>
