.footer {
  
  background-color: #09026b;
  color: #ffc107;
  padding: 40px 20px 10px;
  border-top: 3px solid #6d6d6c;
  text-align: center;
}

/* Conteneur qui contient les 2 colonnes */
.footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 25px;
}

/* Chaque colonne contient 2 items */
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Style des items (icône + texte) */
.footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.footer-item p {
  margin: 0;
  color: #ebb100;
  font-size: 18px;
  font-weight: 600px;
}

.footer-bottom {
  margin-top: 20px;
  color: #ebb100;
  border-top: 2px solid #6d6d6c;

  padding-top: 25px;
}
