.footer {
  background: var(--background-color);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  padding: 40px 20px 10px;
  text-align: center;
}

/* Conteneur qui contient les 2 colonnes */
.footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Chaque colonne contient 2 items */
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Style des items (icône + texte) */
.footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.footer-item p {
  margin: 0;
  font-size: 14px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #c09106;

  padding-top: 10px;
}
