<footer class="footer">

  <div class="footer-wrapper">

    <!-- Colonne 1 -->
    <div class="footer-column">

      <div class="footer-item">
       <lord-icon
    src="https://cdn.lordicon.com/njlzolhx.json"
    trigger="hover"
    stroke="bold"
     colors="primary:#09026b,secondary:#ffc107"
    style="width:40px;height:30px">
</lord-icon>
        <p>Charguia 2, Tunis</p>
      </div>

      <div class="footer-item">
       <lord-icon
    src="https://cdn.lordicon.com/lzhauhfx.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:40px;height:30px">
</lord-icon>
        <p>+216 71 940 364</p>
      </div>

    </div>

    <!-- Colonne 2 -->
    <div class="footer-column">

      <div class="footer-item">
       <lord-icon
    src="https://cdn.lordicon.com/icuxkywm.json"
    trigger="hover"
    stroke="bold"
     colors="primary:#09026b,secondary:#ffc107"
    style="width:40px;height:30px">
</lord-icon>
        <p>contactisetcharguia.tn</p>
      </div>

      <div class="footer-item">
        <lord-icon
    src="https://cdn.lordicon.com/ijhuniiu.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#09026b,secondary:#ffc107"
    style="width:40px;height:30px">
</lord-icon>
        <p>www.isetcharguia.tn</p>
      </div>

    </div>

  </div>

  <p class="footer-bottom">© 2025 Campus Life – Tous droits réservés</p>
</footer>
