<div class="container-fluid vh-100">
  <div class="row h-100">

    <!-- Formulaire -->
    <div class="col-md-6 d-flex align-items-center justify-content-center form-col">
      <form class="reset-form w-100" novalidate [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <div class="form-inner px-4" style="max-width: 450px; margin: auto;">

          <!-- Heading -->
          <div class="text-center mb-6">
            <h1 class=" mb-2 font-bold">Réinitialiser votre mot de passe</h1>
            <p class="form-subtitle">Entrez votre nouveau mot de passe.</p>
          </div>

          <!-- Alert erreur -->
          <ng-container *ngIf="errorState === errorStates.HasError">
            <div class="alert alert-danger mb-4">{{ message }}</div>
          </ng-container>

          <!-- Message succès -->
          <ng-container *ngIf="errorState === errorStates.NoError">
            <section class="d-flex justify-content-center align-items-center mb-4">
              <div class="bg-light-info p-4 rounded shadow-sm w-100 text-center">
                <div class="text-info fw-semibold">Mot de passe réinitialisé avec succès</div>
              </div>
            </section>
          </ng-container>

          <!-- Champ mot de passe -->
          <div class="fv-row mb-4">
            <label class="form-label fw-bolder text-gray-900 fs-6 mb-2">Mot de passe</label>
              <input
                class="form-control bg-transparent"
                type="password"
                placeholder="Nouveau mot de passe"
                formControlName="password"
                id="passwordField"
                [ngClass]="{
                  'is-invalid': resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched),
                  'is-valid': resetPasswordForm.controls['password'].valid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)
                }"
              />
                          <div class="mt-2">

               <password-strength-meter [password]="resetPasswordForm.get('password')?.value" [minPasswordLength]="6"
                [numberOfProgressBarItems]="4" [colors]="['#e74c3c', '#f39c12', '#f1c40f', '#2ecc71']"
                [enableFeedback]="false">
              </password-strength-meter>

            <!-- Validation -->

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          message:
            (resetPasswordForm.controls['password'].errors?.['required'] && 'Mot de passe est obligatoire') ||
            (resetPasswordForm.controls['password'].errors?.['uppercase'] && 'Doit contenir une majuscule') ||
            (resetPasswordForm.controls['password'].errors?.['lowercase'] && 'Doit contenir une minuscule') ||
            (resetPasswordForm.controls['password'].errors?.['digit'] && 'Doit contenir un chiffre') ||
            (resetPasswordForm.controls['password'].errors?.['special'] && 'Doit contenir un caractère spécial') ||
                        (resetPasswordForm.controls['password'].errors?.['minLength'] && 'Minimum 6 caractères requis') ||

            (resetPasswordForm.controls['password'].errors?.['space'] && 'Les espaces ne sont pas autorisés'),
          control: resetPasswordForm.controls['password']
        }"></ng-container>
              </div>
          </div>

          <!-- Champ confirmer mot de passe -->
          <div class="fv-row mb-6">
            <label class="form-label fw-bolder text-gray-900 fs-6 mb-2">Confirmer le mot de passe</label>
            <input
              type="password"
              class="form-control bg-transparent"
              placeholder="Confirmer le mot de passe"
              formControlName="cPassword"
              [ngClass]="{
                'is-invalid': resetPasswordForm.controls['cPassword'].invalid && (resetPasswordForm.controls['cPassword'].dirty || resetPasswordForm.controls['cPassword'].touched),
                'is-valid': resetPasswordForm.controls['cPassword'].valid && (resetPasswordForm.controls['cPassword'].dirty || resetPasswordForm.controls['cPassword'].touched)
              }"
            />
                     <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm Password is required',
            control: resetPasswordForm.controls['cPassword']
          }"></ng-container>

          <ng-container *ngIf="
    resetPasswordForm.controls['cPassword'].errors?.['ConfirmPassword'] &&
    resetPasswordForm.controls['cPassword'].value
">
            <div class="fv-plugins-message-container text-base mt-1">
              <div class="fv-help-block">
                <span role="alert">Les mots de passe ne correspondent pas</span>
              </div>
            </div>
          </ng-container>
          </div>

          <!-- Boutons -->
          <div class="d-flex flex-wrap justify-content-center gap-3">
            <button type="submit" class="w-50 px-4 py-3 bg-blue-600 !text-white font-semibold rounded hover:bg-blue-700 transition" [disabled]="resetPasswordForm.invalid">
              Envoyer
            </button>
            <a routerLink="/home/login" class="bg-gray-100 px-4 py-3  rounded hover:bg-gray-200 transition">Annuler</a>
          </div>

        </div>
      </form>

      <!-- Template erreur champ -->
      <ng-template #formError let-control="control" let-message="message" let-validation="validation"> @if ( (validation &&
  control.hasError(validation) && (control.dirty || control.touched)) || (!validation && control.invalid &&
  (control.dirty || control.touched)) ) { <div class="fv-plugins-message-container m-2">
    <div class="fv-help-block"> <span role="alert">{{ message }}</span> </div>
  </div> } </ng-template>

    </div>

    <!-- Image -->
    <div class="col-md-6 d-none d-md-block p-0">
      <img src="forgetPassword.jpg" alt="Réinitialisation mot de passe" class="img-fluid h-100 w-100 object-fit-cover">
    </div>

  </div>
</div>


