.main-content {
  flex: 1;
  margin-left: 250px; /* Width of the sidebar */
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.publications-container {
  display: flex;
  height: 100vh;
}
