<form [formGroup]="studentForm" (ngSubmit)="saveChanges()" novalidate>
  <div class="border-b border-gray-200 pb-5">
    <h3 class="text-xl font-semibold leading-6 text-gray-900">Détails du Profil</h3>
    <p class="mt-1 text-base text-gray-500">Mettez à jour votre photo et vos informations personnelles ici.</p>
  </div>

  <div >
    <!-- Avatar -->
    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label class="block text-base font-medium text-gray-700 md:text-left">Avatar</label>
      <div class="md:col-span-2">
        <div class="flex items-center gap-5">
          <img [src]="avatarPreview || user?.photoProfil" alt="Aperçu de l'avatar" class="h-20 w-20 rounded-full object-cover border border-gray-300">
          <div class="relative">
            <input id="photo-upload" name="photo-upload" type="file" class="sr-only" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg">
            <label for="photo-upload" class="cursor-pointer rounded-md border border-gray-300 bg-white py-2 px-4 text-base font-medium text-gray-700  hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              <span>Changer</span>
            </label>
          </div>
        </div>
        <p class="mt-2 text-sm text-gray-500">Types de fichiers autorisés: png, jpg, jpeg.</p>
      </div>
    </div>

    <!-- Fields -->
    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="prenom" class="block text-base font-medium text-gray-700">Prénom</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="firstName" id="prenom" placeholder="Prénom" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="nom" class="block text-base font-medium text-gray-700">Nom</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="lastName" id="nom" placeholder="Nom" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="adresse" class="block text-base font-medium text-gray-700">Adresse</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="adresse" id="adresse" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="phone" class="block text-base font-medium text-gray-700">Téléphone</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="numeroTelephone" id="phone" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="dateNaissance" class="block text-base font-medium text-gray-700">Date de Naissance</label>
      <div class="md:col-span-2">
        <input type="date" formControlName="dateNaissance" id="dateNaissance" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="ville" class="block text-base font-medium text-gray-700">Ville</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="ville" id="ville" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="filiere" class="block text-base font-medium text-gray-700">Filière</label>
      <div class="md:col-span-2">
        <select formControlName="filiere" id="filiere" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
          <option value="" disabled>Choisir une filière</option>
          @for (filiere of filieres; track filiere) {
            <option [value]="filiere">{{ filiere }}</option>
          }
        </select>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="specialite" class="block text-base font-medium text-gray-700">Spécialité</label>
      <div class="md:col-span-2">
        <select formControlName="specialite" id="specialite" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
          <option value="" disabled>Choisir une spécialité</option>
          @for (spec of availableSpecialites; track spec) {
            <option [value]="spec">{{ spec }}</option>
          }
        </select>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="niveau" class="block text-base font-medium text-gray-700">Niveau</label>
      <div class="md:col-span-2">
        <select formControlName="niveau" id="niveau" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
            <option value="" disabled>Choisir un niveau</option>
          @for (niveau of niveaux; track niveau) {
            <option [value]="niveau">{{ niveau }}</option>
          }
        </select>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 md:items-center gap-2 md:gap-5 py-8">
      <label for="classe" class="block text-base font-medium text-gray-700">Classe</label>
      <div class="md:col-span-2">
        <input type="text" formControlName="classe" id="classe" class="block w-full rounded-md border border-gray-300  focus:border-blue-500 focus:ring-blue-500 text-base py-2.5 px-4">
      </div>
    </div>
  </div>

  <!-- Form Actions -->
  <div class="pt-6 mt-6 border-t border-gray-200">
    <div class="flex justify-end gap-3">
      <button type="button" (click)="discardChanges()" class="px-6 py-2.5 text-base font-semibold text-gray-700 bg-white border border-gray-300 rounded-lg  hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">Annuler</button>
      <button type="submit" class="px-6 py-2.5 text-base font-semibold text-white bg-blue-600 rounded-lg  hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors">Enregistrer</button>
    </div>
  </div>
</form>
