<div class="dialog-container">
  <div class="d-flex justify-content-between align-items-center pb-4">
    <h2 class="dialog-title">Ajouter un nouveau club</h2>
  </div>

  <form [formGroup]="clubForm" (ngSubmit)="createClub($event)">
    <div class="container form-bg pb-3">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom du club</mat-label>
            <input matInput formControlName="nom" />
            @if (
              clubForm.get('nom')?.hasError('required')
            ) {
              <mat-error>Le nom du club est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Département</mat-label>
            <input matInput formControlName="departement" />
            @if (clubForm.get('departement')?.hasError('required')) {
              <mat-error> Le département est obligatoire </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="telephone" type="tel" />
            @if (clubForm.get('telephone')?.hasError('required')) {
              <mat-error> Le téléphone est obligatoire </mat-error>
            }
            @if (clubForm.get('telephone')?.hasError('pattern')) {
              <mat-error> Numéro de téléphone invalide </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            @if (clubForm.get('email')?.hasError('required')) {
              <mat-error> L'email est obligatoire </mat-error>
            }
            @if (clubForm.get('email')?.hasError('email')) {
              <mat-error> Adresse email invalide </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="5"></textarea>
            @if (clubForm.get('description')?.hasError('required')) {
              <mat-error> La description est obligatoire </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse" />
            @if (clubForm.get('adresse')?.hasError('required')) {
              <mat-error> L'adresse est obligatoire </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date de création</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateCreation"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
      </div>

      <div class="row image-upload-row">
        <div class="col file-input-col">
          <label>Image de profil</label>
          <input
            type="file"
            (change)="onFileSelected($event, 'profil')"
            accept="image/*"
            class="form-control-file"
          />
          @if (previewProfil) {
            <img [src]="previewProfil" class="preview-img" alt="Aperçu Profil" />
          }
        </div>
        <div class="col file-input-col">
          <label>Image de fond</label>
          <input
            type="file"
            (change)="onFileSelected($event, 'fond')"
            accept="image/*"
            class="form-control-file"
          />
          @if (previewFond) {
            <img [src]="previewFond" class="preview-img" alt="Aperçu Fond" />
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Facebook</mat-label>
            <input matInput formControlName="facebook" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Instagram</mat-label>
            <input matInput formControlName="instagram" />
          </mat-form-field>
        </div>
      </div>

      <div class="actions d-flex justify-content-end pt-3">
        <button mat-flat-button mat-dialog-close id="btn-cancel">
          Annuler
        </button>
        <button
          mat-flat-button
          type="submit"
          [disabled]="clubForm.invalid"
          id="btn-submit"
          class="btn">
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
