.container{

    margin-left: 20px;
}
.header-strip {
  background: linear-gradient(to right, #0d6efd, #5a9bff);
  color: white;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  text-align:start;
  max-width: 1000px; /* largeur max */

  margin-bottom: 0px;
}

.table-container {
  width: 100%;
  max-width: 1000px;
  margin-left: 0;
  margin-right: auto;
}


.header-strip h4 {
  margin: 0;
}




.description-cell,
.sujet-cell {
  cursor: pointer;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-cell:hover,
.sujet-cell:hover {
  background-color: #f1f1f1;
}

.modal-header.bg-primary,
.modal-header.bg-info {
  border-bottom: none;
}

.modal-body p {
  word-wrap: break-word;
}
