  <header class="app-bar">
    <img src="logo-bg.png" alt="" width="100px" height="55px" class="logo" routerLink="/home">

    <nav class="menu">

      <div>
      <button class="signup-btn" routerLink="/home/register">S'inscrire</button>
      <button  class="login-btn" routerLink="/home/login">Se connecter</button>
      </div>
    </nav>
  </header>
  <div>
    <router-outlet></router-outlet>


  </div>
  <app-footer-home id="footer"></app-footer-home>
   <!-- <app-footer></app-footer> -->

