/* ---------- APP BAR ---------- */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-bar {
  width: 100%;
  padding: 10px 40px;
  
  background-color: #09026b;
  color: #ebb100;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  z-index: 100; /* IMPORTANT */
}
.logo{
    margin-left: 20px;
    margin-bottom: 10px;
}


.login-btn {
  padding: 10px 18px;
  background: white;
  color: #ebb100;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.signup-btn{
  padding: 10px 18px;
  background: #ebb100;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  width: 90px;
}
button:hover,
button:active {
  opacity: 0.8;
  transition: opacity 0.3s ease;
   transform: scale(1.05);
}
.menu{
  display: flex;
  align-items: center;
}

.menu a {
  margin: 0 15px;
  color: #ffc107;

  font-size: 18px;
  transition: 0.3s;
}

.menu a:hover {
  text-decoration:underline;
  cursor: pointer;
  color: #6d6d6c;

}




