/* ---------- APP BAR ---------- */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.app-bar {
  height: 80px;
  width: 100%;
  padding: 0px 40px;
  background: var(--background-color);
  color:  var(--yellow-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;

  z-index: 100; /* IMPORTANT */
}
.logo{
    margin-left: 20px;
    margin-bottom: 10px;
}

.login-btn {
  padding: 8px 18px;
  background: white;
  color: var(--yellow-400);
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
.signup-btn{
  padding: 8px 18px;
  background:  var(--yellow-400);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  width: 90px;
}
button:hover,
button:active {
  opacity: 0.8;
  transition: opacity 0.3s ease;
   transform: scale(1.05);
}
.menu{
  display: flex;
  align-items: center;
}

.menu a {
  margin: 0 15px;
  color:  var(--yellow-400);

  font-size: 18px;
  transition: 0.3s;
}

.menu a:hover {
  text-decoration:underline;
  color:   var(--yellow-400);

}




