<div class="d-flex flex-column flex-center flex-column-fluid" style="
       background-image: url('bg7.jpg');
       background-size: cover;
       background-position: center;
       min-height: 100vh;
     ">




  <div class="d-flex flex-column flex-center flex-column-fluid">
    <div class="d-flex flex-column flex-center text-center ">
      <div class="card card-flush w-lg-650px py-2"
        style="background:#fff; border-radius:16px; box-shadow:0 8px 20px rgba(0,0,0,0.1);">
        <div class="card-body ">
          <!-- Logo -->
      <div class="d-flex justify-content-center mb-2">
  <img src="logo.png" alt="Logo" class="h-20vh mw-100" style="max-height: 150px;">
</div>


          <h1 class="fw-bolder text-gray-900 mb-5">Vérifiez votre email</h1>
          <p class="text-gray-600 mt-2 text-sm"> Nous avons envoyé un lien de vérification à votre adresse email.</p>


          <div class="fs-6 mb-8 pt-6">
            <span class="fw-semibold text-gray-500">Vous n’avez pas reçu d’email ?</span>
            <button type="button" class="link-primary fw-bold btn btn-link p-0" (click)="resendEmail()"
              [disabled]="isDisabled()">
              Renvoyer l’email
            </button>
          </div>
          @if(statusMessage){
          <div  class="mb-3 text-success fw-semibold">
            {{ statusMessage }}
          </div>
        }



        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
  <img src="please-verify-your-email.png" class="mw-100 mh-200px theme-light-show" alt="">
</div>

        </div>
      </div>
    </div>
  </div>
</div>
