/* about.component.css */

.page-container {
padding-top: 120px; /* espace pour le header fixe */
width: 100%;
background-color: #09026b;
color: #f5f5f5;
min-height: 100vh;
font-family: 'Arial', sans-serif;
}

.about-hero {
text-align: center;
padding: 100px 20px 60px;

background: linear-gradient(rgba(9,2,107,0.8), rgba(9,2,107,0.8)), url('../../../../../public/logo.png') no-repeat center center;
background-size: cover;
}

.about-text h1 {
color: #ffc107;
font-size: 48px;
margin-bottom: 20px;
}

.about-text p {
color: #ffffff;
font-size: 20px;
max-width: 800px;
margin: 0 auto;
}

.team-section {
text-align: center;
padding: 60px 20px;
}

.team-section h2 {
font-size: 36px;
color: #ffc107;
margin-bottom: 20px;
}

.team-section p {
font-size: 18px;
max-width: 700px;
margin: 0 auto;
}

.features-section {
text-align: center;
padding: 60px 20px;
}

.features-section h2 {
font-size: 36px;
color: #ffc107;
margin-bottom: 40px;
}

.features {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}

.feature-card {
background: #848485;
padding: 20px;
width: 220px;
border-radius: 12px;
border: 1px solid #333;
transition: 0.3s;
}

.feature-card:hover {
transform: translateY(-10px);
border: 3px solid #ffc107;
}

.feature-card h3 {
color: #ffc107;
margin-top: 15px;
font-size: 18px;
font-weight: 650;
}

.feature-card p {
color: white;
font-size: 14px;
font-weight: 400;
}
