<div class="sidebar">


  <!-- Navigation -->
  <div class="sidebar-nav">
    <ul>
      <li class="nav-item active" >
        <i class="fas fa-th-large icon"></i>
        <span>Tableau de bord</span>
      </li>

      <li class="nav-item dropdown" routerLink="/clubManagerDash/publications">
        <div class="dropdown-header">
          <i class="fas fa-user-graduate icon"></i>
          <span>Publications</span>

        </div>

      </li>

           <li class="nav-item dropdown" routerLink="/clubManagerDash/createClub">
        <div class="dropdown-header">
          <i class="fas fa-user-graduate icon"></i>
          <span>New club</span>

        </div>

      </li>

           <li class="nav-item dropdown" routerLink="/clubManagerDash/mon-club">
        <div class="dropdown-header">
<i class="fas fa-star icon"></i>
          <span>Mon club</span>

        </div>

      </li>

      <li class="nav-item dropdown" routerLink="/clubManagerDash/events/create">
        <div class="dropdown-header">
          <i class="fas fa-heart icon"></i>
          <span> ajouter Evenements</span>
        </div>

      </li>

       <li class="nav-item dropdown" routerLink="/clubManagerDash/participation-forms">
        <div class="dropdown-header">
          <i class="fas fa-heart icon"></i>
          <span>Participation</span>
        </div>

      </li>

        <li class="nav-item dropdown" routerLink="/clubManagerDash/consulter-events">
        <div class="dropdown-header">
          <i class="fas fa-heart icon"></i>
          <span>Event List</span>
        </div>

      </li>

    </ul>
  </div>

  <!-- Profil bas -->
  <div class="sidebar-footer">
    <div class="profile">
      <div class="avatar">AD</div>
      <div class="info">
        <p class="name">Responsable club</p>

      </div>
    </div>
  </div>
</div>
