<div class="sidebar">
  <div class="sidebar-header">
    <h2>Menu Responsable</h2>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item"  routerLink="/dashboard">
        <span class="icon">📊</span>
        <span class="label">Dashboard</span>
      </li>
      <li class="nav-item" routerLink="/publications">
        <span class="icon">📝</span>
        <span class="label">Publications</span>
      </li>
      <li class="nav-item" routerLink="/participation-forms">
        <span class="icon">📈</span>
        <span class="label">Formulaires</span>
      </li>
      <li class="nav-item">
        <span class="icon">👥</span>
        <span class="label">Membres</span>
      </li>
      <li class="nav-item" routerLink="/events/create">
        <span class="icon">📅</span>
        <span class="label">Événements</span>
      </li>
      <li class="nav-item">
        <span class="icon">⚙️</span>
        <span class="label">Paramètres</span>
      </li>
    </ul>
  </nav>
</div>
