<div class="container-fluid vh-100">
  <div class="row h-100">

    <!-- Image à gauche -->
    <div class="col-md-6 d-none d-md-block p-0">
      <img src="bg1.jpg" alt="Image login" class="img-fluid h-100 w-100 object-fit-cover">
    </div>

    <!-- Formulaire à droite -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="w-100 px-4" style="max-width: 450px;">
        <form class="form w-100" [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <!-- Titre -->
          <div class="text-center mb-4 ">
            <h1 class="text-danger fw-bolder mb-2">Bienvenue à ISET Vie Étudiant</h1>
            <div class="text-gray-500 fw-semibold fs-6">Connectez-vous à votre compte</div>
          </div>

          <!-- Connexion Google -->
          <div class="row g-3 mb-3">
            <div class="col-12">
              <a id="googleLoginButton" (click)="triggerGoogleSignIn()"
                class="cursor-pointer btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                <img alt="Logo" src="google-icon.svg" class="h-15px me-3" />
                Connectez-vous avec Google
              </a>
            </div>


          </div>

          <!-- Séparateur -->
          <div class="separator separator-content my-4"></div>

          <!-- Alertes d'erreur -->
          @if (hasError) {
          <ng-container>
            <div class="mb-3 alert alert-danger d-flex align-items-start" role="alert">
              <i class="bi bi-exclamation-circle-fill me-2 fs-4"></i>
              <div class="d-flex flex-column">
                <span><strong>Erreur :</strong> {{ message }}</span>
              </div>
            </div>
          </ng-container>
          }

          <!-- Email -->
          <div class="fv-row mb-6">
            <input type="email" class="form-control bg-transparent" placeholder="Email" formControlName="email"
              [ngClass]="getControlClass('email')" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email est obligatoire',
        control: loginForm.controls['email']
      }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email est invalide',
        control: loginForm.controls['email']
      }"></ng-container>

          </div>

    <!-- Mot de passe -->
<div class="fv-row mb-6">
  <input
    type="password"
    class="form-control bg-transparent"
    placeholder="Mot de passe"
    formControlName="password"
    [ngClass]="getControlClass('password')"
  />


    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      message:
        (loginForm.controls['password'].errors?.['required'] && 'Mot de passe est obligatoire') ||
        (loginForm.controls['password'].errors?.['minLength'] && 'Minimum 8 caractères requis') ||
        (loginForm.controls['password'].errors?.['uppercase'] && 'Doit contenir une majuscule') ||
        (loginForm.controls['password'].errors?.['lowercase'] && 'Doit contenir une minuscule') ||
        (loginForm.controls['password'].errors?.['digit'] && 'Doit contenir un chiffre') ||
        (loginForm.controls['password'].errors?.['special'] && 'Doit contenir un caractère spécial') ||
        (loginForm.controls['password'].errors?.['space'] && 'Les espaces ne sont pas autorisés'),
      control: loginForm.controls['password']
    }"></ng-container>

</div>




          <div class="fv-row mb-6">
            <label class="form-check d-flex align-items-center">
              <input type="checkbox" formControlName="keepMeLoggedIn" class="form-check-input me-2" />
              <span class="form-check-label fw-semibold text-gray-700">
                Se souvenir de moi
              </span>
            </label>
          </div>


          <div class="fv-row mb-6">
            <a routerLink="/forgot-password" class="link-primary fw-semibold cursor-pointer">Mot de passe oublié ?</a>
          </div>

          <div class="d-grid mb-6">
            <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">Se connecter</button>
          </div>

          <!-- Lien vers inscription -->
          <div class="text-center text-gray-500 fw-semibold fs-6 mb-6">
            Pas de compte ?
            <a routerLink="/register" class="link-primary fw-semibold cursor-pointer">Créer un compte</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  @if (
    (validation && control.hasError(validation) && (control.dirty || control.touched)) ||
    (!validation && control.invalid && (control.dirty || control.touched))
  ) {
    <div class="fv-plugins-message-container m-2">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  }
</ng-template>

