.container {
  margin-top: 140px;
}

.header-strip {
  background: linear-gradient(to right, #0d6efd, #5a9bff);
  color: white;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  text-align: start;
  max-width: 1000px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  max-width: 1000px;
  margin-top: 0px;
}

.header-strip h4 {
  margin: 0;
}

.badge {
  font-size: 14px;
  padding: 6px 10px;
}
