<div class="club-container mat-elevation-z4">

  <!-- Image de couverture -->
  <div class="cover-photo">
    <img [src]="club.imageFond" alt="Image de couverture">
  </div>

  <!-- Image de profil et infos -->
  <div class="profile-section">
    <img class="profile-photo" [src]="club.imageProfil" alt="Profil du club">
    <div class="info-section">
      <h2>{{ club.nom }}</h2>
      <p>slogan slogan slogan</p>
     
    </div>
  </div>
  <!-- <mat-divider></mat-divider> -->
<!-- navigation -->
  <div class="club-nav">
  <div class="left-buttons">
    <button mat-button class="active">Posts</button>
    <button mat-button>Events</button>
    <button mat-button>About Us</button>
  </div>
  <div class="right-button">
    <button mat-button>Rejoindre Us</button>
  </div>
</div>

  <!-- Liste des publications -->

  <!-- <div class="posts-section">

    <h3>Publications récentes</h3>

@for (post of posts; track $index) {
  <app-post-club [post]="post" [clubNom]="club.nom"></app-post-club>
}

  </div> -->
  <div class="posts-layout">

  <!-- COLONNE GAUCHE FIXE -->
 <div class="club-sidebar mat-elevation-z2">

 

  <div class="sidebar-section">
   
    <h3>Informations</h3>
    <p><strong>Adresse :</strong> {{ club.adresse }}</p>
    <p><strong>Département :</strong> {{ club.departement }}</p>
    <p><strong>Créé le :</strong> {{ club.dateCreation | date }}</p>
  </div>

  <div class="sidebar-section">
    
    <h3>Contact</h3>
    <div>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/xvxvvvel.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#30c9e8,secondary:#e4e4e4"
    style="width:50px;height:50px">
</lord-icon>
       <span>  {{ club.telephone }}</span></div>
    <div>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/zvamcipt.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#30c9e8,secondary:#e4e4e4"
    style="width:50px;height:50px">
</lord-icon>
     <span>{{ club.email }}</span>   </div>
  </div>
@if(club.reseaux){
  <div class="sidebar-section">
    
    <h3>Réseaux</h3>
    <div >
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
                src="https://cdn.lordicon.com/jxcoxfau.json"
                trigger="hover"
                 stroke="bold"
                colors="primary:#3080e8,secondary:#b4b4b4"
                style="width:50px;height:50px">
        </lord-icon>
       <span> {{ club.reseaux.facebook }}</span>
    </div>
    <div >
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/lljlideu.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#ee66aa,secondary:#a866ee"
    style="width:50px;height:50px">
</lord-icon>
        
        <span>{{ club.reseaux.instagram }}</span></div>
  </div>
  }

  <div class="sidebar-section">
   
    <h3>Manager</h3>

    <p>{{ club.manager }}</p>
    
  </div>

</div>

   
  <!-- COLONNE DROITE QUI SCROLL -->
  <div class="club-posts">
    <h3>Publications récentes</h3>
    @for (post of posts; track $index) {
      <app-post-club [post]="post" [clubNom]="club"></app-post-club>
    }
  </div>

</div>

</div>
