<mat-card class="post-card">

  <!-- Header avec avatar + nom + date -->
  <mat-card-header>
    <div mat-card-avatar class="post-avatar"><img [src]="clubNom.imageProfil" alt=""></div>
    <mat-card-title>{{ clubNom.nom }}</mat-card-title>
    <mat-card-subtitle>{{ post.date | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>

  <!-- Contenu avec Lire Plus -->
  <mat-card-content>
    <p class="post-content" [class.expanded]="isExpanded">
      {{ post.contenu }}
    </p>
@if(!isExpanded && post.contenu.length > 100){
    <span class="read-more"  (click)="isExpanded = true">
      Lire plus...
    </span>}
    @if(isExpanded){
    <span class="read-more"  (click)="isExpanded = false">
      Réduire
    </span> }
  </mat-card-content>

 
  <img mat-card-image [src]="post.image" alt="image du post"
       class="post-image" [class.small]="!isExpanded"/>

  <!-- Actions sociales -->
   <mat-card-actions class="post-actions">
    <!-- Like -->
    <button mat-icon-button class="like-btn" (click)="toggleLike()">
         
    <mat-icon color="{{ liked ? 'warn' : 'default' }}">favorite</mat-icon>
    <!-- <span class="like-count">{{ likes }}</span> -->
  

    </button>

    <!-- Comment -->
    <button mat-icon-button class="comment-btn" >
      <mat-icon color="primary">chat_bubble_outline</mat-icon>

    </button>
  </mat-card-actions>
</mat-card>
