/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
   --yellow-400: #facc15;
  --background-color: #f4f7f9;
  --card-background: #ffffff;
  --primary-text-color: #2c3e50;
  --secondary-text-color: #7f8c8d;
  --accent-color-1: #00aaff;
  --accent-color-2: #ff4081;
  --status-active: #4caf50;
  --status-inactive: #f44336;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --card-hover-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
