/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
   --yellow-400: #facc15;
    --blue-50:  #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --background-color: #f4f7f9;
  --card-background: #ffffff;
  --primary-text-color: #2c3e50;
  --secondary-text-color: #7f8c8d;
  --accent-color-1: #00aaff;
  --accent-color-2: #ff4081;
  --status-active: #4caf50;
  --status-inactive: #f44336;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --card-hover-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
