<div class="d-flex flex-column flex-center flex-column-fluid"
  style="background-image: url('bg7.jpg'); background-size: cover; background-position: center; min-height: 100vh;">

  <div class="d-flex flex-column flex-center text-center p-10">

    <!-- Bloc succès -->


    <div class="card card-flush w-md-650px py-2"
      style="background:#fff; border-radius:16px; box-shadow:0 8px 20px rgba(0,0,0,0.1);">
      <div class="card-body py-15 py-lg-20">

        <div class="d-flex justify-content-center ">
          <img src="logo.png" alt="Logo" class="h-20vh mw-100" style="max-height: 150px;">
        </div>
           @if(verificationSuccess){

        <h1 class="fw-bolder text-gray-900 mb-5">
          Bienvenue sur Vie Étudiante ISET !
        </h1>

        <div class="fw-semibold fs-6 text-gray-700 mb-2">
          Merci pour votre inscription.<br>
          Explore toutes les fonctionnalités pour gérer tes activités et rester informé(e) sur la vie étudiante !
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 400px;">
          <img src="welcome.png" class="mw-100 mh-300px" alt="Bienvenue Étudiant">
          <a class="btn btn-primary btn-lg px-8" [routerLink]="['/clubs']">Commencer</a>
        </div>
      }
      @else {
        <div>
        <h2 class="text-danger mb-3">{{ statusMessage }}</h2>
        <p>Redirection vers la page de connexion dans quelques secondes...</p>
      </div>
      }

      </div>
    </div>



  </div>
</div>
