<div class="sidebar">
  <!-- En-tête -->


  <!-- Navigation -->
  <div class="sidebar-nav">
    <ul>
      <li class="nav-item active" routerLink="/admindashboard/home">
        <i class="fas fa-th-large icon"></i>
        <span>Tableau de bord</span>
      </li>



      <li class="nav-item dropdown" routerLink="/admindashboard/managers">
        <div class="dropdown-header">
          <i class="fas fa-user-graduate icon"></i>
          <span>Responsabes de clubs</span>

        </div>

      </li>

        <li class="nav-item dropdown" routerLink="/admindashboard/liste-demande-dons">
        <div class="dropdown-header">
          <i class="fas fa-heart icon"></i>
          <span>Demandes de dons</span>
        </div>

      </li>

      <li class="nav-item dropdown" routerLink="/admindashboard/compagne">
        <div class="dropdown-header">
          <i class="fas fa-heart icon"></i>
          <span>Campagnes de dons</span>
        </div>

      </li>


      <li class="nav-item dropdown" routerLink="/admindashboard/etudiants">
        <div class="dropdown-header">
          <i class="fas fa-user-graduate icon"></i>
          <span>Liste Etudiants</span>
        </div>

      </li>


      <li class="nav-item dropdown" routerLink="/admindashboard/reclamations">
        <div class="dropdown-header">
          <i class="fas fa-exclamation-triangle icon"></i>

          <span>Reclamations</span>
        </div>

      </li>


    </ul>
  </div>

  <!-- Profil bas -->
  <div class="sidebar-footer">
    <div class="profile">
      <div class="avatar">AD</div>
      <div class="info">
        <p class="name">Administrateur</p>

      </div>
    </div>
  </div>
</div>
<div>
