<app-header></app-header>
<div class="profile-card card p-0 shadow-sm" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="header-bg"></div>

  <div class="profile-content p-4">
    <div class="d-flex align-items-center mb-4">
      <img class="avatar me-3" [src]="'blank.png'" alt="Profile">
      <div>
        <h2 class="mb-1">{{ user?.firstName }} {{ user?.lastName }}</h2>
      </div>
    </div>

    <!-- Template pour les erreurs -->
    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      @if (
      (validation && control.hasError(validation) && (control.dirty || control.touched)) ||
      (!validation && control.invalid && (control.dirty || control.touched))
      ) { <div class="fv-plugins-message-container mb-2" style="margin-left: 16%;">
        <div class="fv-help-block">
          <span role="alert">{{ message }}</span>
        </div>
      </div>
      }
    </ng-template>

    <form [formGroup]="profileForm">

      <!-- Informations Personnelles -->
      <div class="mb-5">
        <h5 class="section-title">Informations Personnelles</h5>
        <hr>

        <div class="mb-3 d-flex align-items-center">
          <i class="bi bi-person me-2 fs-5"></i>
          <label class="me-2 mb-0" style="width: 120px;">Prénom :</label>
          <input type="text" class="form-control" formControlName="firstName" [readonly]="!editable"
            [ngClass]="getControlClass('firstName')">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Prénom est obligatoire',
          control: profileForm.controls['firstName']
        }"></ng-container>

        <div class="mb-3 d-flex align-items-center">
          <i class="bi bi-person me-2 fs-5"></i>
          <label class="me-2 mb-0" style="width: 120px;">Nom :</label>
          <input type="text" class="form-control" formControlName="lastName" [readonly]="!editable"
            [ngClass]="getControlClass('lastName')">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Nom est obligatoire',
          control: profileForm.controls['lastName']
        }"></ng-container>


        <div class="mb-3 d-flex align-items-center">
          <i class="bi bi-geo-alt me-2 fs-5"></i>
          <label class="me-2 mb-0" style="width: 120px;">Adresse :</label>
          <input type="text" class="form-control" formControlName="address" [readonly]="!editable">
        </div>


        <div class="mb-3 d-flex align-items-center" *ngIf="!user.googleId">
          <i class="bi bi-lock me-2 fs-5"></i>
          <label class="me-2 mb-0" style="width: 120px;">Mot de passe :</label>
          <input type="password" class="form-control" formControlName="password" [readonly]="!editable"
            placeholder="********" [ngClass]="getControlClass('password')">
        </div>


    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      message:
        (profileForm.controls['password'].errors?.['required'] && 'Mot de passe est obligatoire') ||
        (profileForm.controls['password'].errors?.['minLength'] && 'Minimum 8 caractères requis') ||
        (profileForm.controls['password'].errors?.['uppercase'] && 'Doit contenir une majuscule') ||
        (profileForm.controls['password'].errors?.['lowercase'] && 'Doit contenir une minuscule') ||
        (profileForm.controls['password'].errors?.['digit'] && 'Doit contenir un chiffre') ||
        (profileForm.controls['password'].errors?.['special'] && 'Doit contenir un caractère spécial') ||
        (profileForm.controls['password'].errors?.['space'] && 'Les espaces ne sont pas autorisés'),
      control: profileForm.controls['password']
    }"></ng-container>
      </div>


      <!-- Boutons -->
      <div class="d-flex mt-3">
        <button *ngIf="!editable" type="button" class="btn btn-primary" (click)="toggleEdit()">Modifier le
          Profil</button>
        <div *ngIf="editable" class="d-flex">
          <button class="btn btn-success me-2" type="button" [disabled]="profileForm.invalid"
            (click)="saveProfile()">Sauvegarder</button>
          <button class="btn btn-secondary" type="button" (click)="cancelEdit()">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</div>


<app-footer></app-footer>
