<div class="dashboard-container">
  <aside class="sidebar">
 <app-admin-menu></app-admin-menu>
  </aside>

  <div class="main-content">
    <h1>Tableau de Bord Responsable</h1>
    <div class="dashboard-grid">
      <div class="card">
  <h3><i class="fa-solid fa-chart-column"></i> STATISTIQUE</h3>
  <button class="btn-primary">
    <i class="fa-solid fa-chart-pie"></i> STATISTIQUES
  </button>
</div>

      <div class="card">
        <h3>Nombre Etudiant </h3>
        <p>200</p>
        <!-- <button class="btn-primary" >Voir Formulaires</button> -->
      </div>
      <div class="card">
        <h3>Nombres des Clubs </h3>
        <p>6</p>
        <!-- <button class="btn-secondary">Voir Membres</button> -->
      </div>
      <div class="card">
        <h3>Nombre Événements actives </h3>
        <p>3</p>
        <!-- <button class="btn-secondary">Voir Événements</button> -->
      </div>

        <div class="card">
        <h3>Dons collectées  </h3>
        <p>300 DT</p>
        <!-- <button class="btn-secondary">Voir Événements</button> -->
      </div>
    </div>
  </div>
</div>
<router-outlet />
