<header class="app-header bg-white shadow">
  <nav class="nav-container flex items-center justify-between px-6 py-4">

    <!-- Logo -->
    <div class="nav-logo">
      <img src="logo.png" alt="Logo" style="height: 80px; width: 80px;" />
    </div>

    <!-- Navigation -->
   <ul class="nav-links hidden md:flex">
      <li><a routerLink="/etudiant/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/etudiant/clubs" routerLinkActive="active-link">Clubs</a></li>
      <li><a routerLink="/etudiant/events" routerLinkActive="active-link">Events</a></li>
      <li><a routerLink="/etudiant/reclamations" routerLinkActive="active-link">reclamations</a></li>
      <li><a routerLink="/etudiant/logements" routerLinkActive="active-link">Logements</a></li>
             <li><a routerLink="/etudiant/demande-dons" routerLinkActive="active-link">Demande don</a></li>


    </ul>

    <!-- Profil + dropdown -->
    <div class="relative" (click)="toggleMenu()">
      <!-- Icon -->
      <!-- Photo de profil -->
  <button class="flex items-center justify-center w-12 h-12 rounded-xl overflow-hidden hover:bg-yellow-400 transition">
    <img
      [src]="user?.photoProfil "
      alt="Profil"
      class="w-full h-full object-cover"
    />
  </button>
      <!-- Dropdown menu -->
       @if (menuOpen) {
      <div
           class="absolute right-0 mt-2 w-44 bg-white border border-gray-200 rounded-lg shadow-lg py-2 z-50">

        <a routerLink="/etudiant/profile"
           class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
          Mon Profil
        </a>

        <button (click)="logout()"
                class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100">
          Déconnexion
        </button>
      </div>
      }
    </div>

  </nav>
</header>
<router-outlet></router-outlet>
